### Elham Bahrami
### 9/15/2019
### Python Programin

### In the following cell I am going to making two lists that first one contains Englis lower case letters and second one contains 1-26 numbers; letters, numbers

In [ ]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u','v','w', 'x', 'y', 'z']

In [32]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]

### In the next cell we are going to print numbers that are multiple by 4 from list numbers by a for loop that iterate thru the list.

In [33]:
for n in numbers:
    if n%4 == 0:
        print(n)

4
8
12
16
20
24

In [34]:
print(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [35]:
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]

### Printing type of the list in a sentence.

In [36]:
Type_letters = "letters is of" + str(type(letters))
Type_numbers = "numbers is of" + str(type(numbers))

In [26]:
print(Type_letters)
print(Type_numbers)

letters is of<class 'list'>
numbers is of<class 'list'>

### In order to zip up the lits we use zip function and then make a list of it. In this way I creat list of pair of the two lists.

In [54]:
ziped = zip(letters, numbers)
tupleList = list(ziped)
print(tupleList)

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5), ('f', 6), ('g', 7), ('h', 8), ('i', 9), ('j', 10), ('k', 11), ('l', 12), ('m', 13), ('n', 14), ('o', 15), ('p', 16), ('q', 17), ('r', 18), ('s', 19), ('t', 20), ('u', 21), ('v', 22), ('w', 23), ('x', 24), ('y', 25), ('z', 26)]

### Printing type of the list that I made in the previouse cell and also first element of it in sentence.

In [38]:
Type_tupleList = "tupleList is of" + str(type(tupleList))
Type_firstelement = "first element is of" + str(type(tupleList[0]))

In [40]:
print(Type_tupleList)
print(Type_firstelement)

tupleList is of<class 'list'>
first element is of<class 'tuple'>

### Since I ziped list of letters and numbers I want to do the same for loop that I did in the sixth cell but for print the letters pair to mutipiles of 4 in one line of code named comprehension list.

In [56]:
multiple_4 = [x[0] for x in tupleList if x[1]%4 == 0]

In [57]:
multiple_4

['d', 'h', 'l', 'p', 't', 'x']